#plasmo-toc {
  position: relative;
  width: 0;
  font-size: 12px;
}

.toc-container {
  position: sticky;
  /* issue-viewer-sticky-header height 56px */
  top: calc(56px + var(--base-size-8));
}

.toc {
  position: absolute;
  right: 0;
  max-width: 256px;
  max-height: calc(100vh - 72px);
  overflow-y: auto;
}

.toc-heading {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 39px;
  padding-bottom: 0;
  margin-bottom: var(--base-size-4) !important;
  white-space: nowrap;
  border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
}

.toc-ul {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.toc-first {
  font-weight: 500;
}

.toc-li {
  padding: 6px 0;
  appearance: none;
  cursor: pointer;
  list-style: none;
  background: unset;
  border: unset;
  border-radius: 6px;
  transition: background 33.333ms linear 0s;
}

.toc-li:hover {
  color: var(--fgColor-default, var(--color-fg-default, #1f2328));
  text-decoration: none;
  cursor: pointer;
  background-color: var(
    --control-transparent-bgColor-hover,
    var(--color-action-list-item-default-hover-bg, rgb(208 215 222 / 32%))
  );
}

.toc-li .toc-li-text {
  padding-right: var(--base-size-8);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  color: var(--fgColor-default, var(--color-fg-default));
  white-space: nowrap;
}

.toc-li-active .toc-li-text {
  font-weight: var(--base-text-weight-medium, 500);
  color: var(--fgColor-accent, var(--color-accent-fg));
}
