#plasmo-toc {
  position: relative;
  width: 0;
  font-size: 12px;
}

.toc-container {
  position: sticky;
  /* issue-viewer-sticky-header height 56px */
  top: calc(56px + var(--base-size-8));
}

.toc {
  position: absolute;
  right: 0;
  max-width: 256px;
  max-height: calc(100vh - 72px);
  overflow-y: auto;
}

.toc-heading {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 39px;
  padding: 0 var(--base-size-8);
  margin-bottom: var(--base-size-4) !important;
  white-space: nowrap;
  background: var(--bgColor-default, var(--color-canvas-default));
}

.toc-heading::after {
  position: absolute;
  right: var(--base-size-8);
  bottom: 0;
  left: var(--base-size-8);
  height: 1px;
  content: '';
  background: var(--borderColor-muted);
}

.toc-ul {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.toc-first {
  font-weight: 500;
}

.toc-li {
  padding: 6px 0;
  appearance: none;
  cursor: pointer;
  list-style: none;
  background: unset;
  border: unset;
  border-radius: 6px;
  transition: background 33.333ms linear 0s;
}

.toc-li:hover {
  color: var(--fgColor-default, var(--color-fg-default, #1f2328));
  text-decoration: none;
  cursor: pointer;
  background: var(--button-invisible-bgColor-hover, #818b981a);
}

.toc-li .toc-li-text {
  padding-right: var(--base-size-8);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  color: var(--fgColor-default, var(--color-fg-default));
  white-space: nowrap;
}

.toc-li-active .toc-li-text {
  color: var(--fgColor-accent, var(--color-accent-fg));
}
